/* #region mediaqueries */

/* Adaptation pour téléphone */
@media screen and (max-device-width:480px) {

    .logo {
        width: 305px;
        height: 100px;
    }

    .login a:link {
        text-decoration: none;
        font-weight: bold;
    }

}

/* Adaptation pour tablette */
@media screen and (min-width:415px) and (max-width:991px) {}

/* #endregion */

/* #region generique */
/* #endregion */

/* #region header */

header {
    display: flex;
    flex-wrap: wrap;
    color: #0065FC;
}

.menuhautdroite {
    margin-left: auto;
}

.menuhaut {
    display: flex;
}

nav ul li {
    list-style-type: none;
    padding-right: 25px;
}

.login {
    margin-top: 15px;
}

.login a:link {
    text-decoration: none;
    font-weight: bold;
}

/* #endregion */

/* #region content */
/* #endregion */

/* #region footer */
/* #endregion */