/* #region generique */

@font-face {
    font-family: "Raleway";
    src: ('Police/Raleway-Black.ttf');
    src: ('Police/Raleway-BlackItalic.ttf');
    src: ('Police/Raleway-Bold.ttf');
    src: ('Police/Raleway-BoldItalic.ttf');
    src: ('Police/Raleway-ExtraBold.ttf');
    src: ('Police/Raleway-ExtraBoldItalic.ttf');
    src: ('Police/Raleway-ExtraLight.ttf');
    src: ('Police/Raleway-ExtraLightItalic.ttf');
    src: ('Police/Raleway-Italic.ttf');
    src: ('Police/Raleway-Italic-VariableFont_wght.ttf');
    src: ('Police/Raleway-Light.ttf');
    src: ('Police/Raleway-LightItalic.ttf');
    src: ('Police/Raleway-Medium.ttf');
    src: ('Police/Raleway-MediumItalic.ttf');
    src: ('Police/Raleway-Regular.ttf');
    src: ('Police/Raleway-SemiBold.ttf');
    src: ('Police/Raleway-SemiBoldItalic.ttf');
    src: ('Police/Raleway-Thin.ttf');
    src: ('Police/Raleway-ThinItalic.ttf');
    src: ('Police/Raleway-VariableFont_wght.ttf');
}

/* #endregion */

/* #region header */

header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.menuhautdroite {
    margin-left: auto;
}

.menuhaut {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

.login {
    margin-top: 15px;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0065FC;
}

.login a {
    text-decoration: none;
    color: #0065FC;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Regular", Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Regular", Arial, Helvetica, sans-serif;
}

nav a:link {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-family: "Regular", Arial, Helvetica, sans-serif;
}

nav a:visited {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Regular", Arial, Helvetica, sans-serif;
}

nav a:focus {
    text-decoration: none;
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Regular", Arial, Helvetica, sans-serif;
}

nav a:hover {
    text-decoration: none;
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Regular", Arial, Helvetica, sans-serif;
}

nav a:active {
    text-decoration: none;
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}


/* #endregion */

/* #region hebergements */

h1 {
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
}

p {
    font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
}

/* #endregion */

/* #region footer */

/* #endregion */

/* #region mediaqueries */

/* Adaptation pour téléphone */
@media screen and (max-device-width:480px) {

    .logo {
        width: 305px;
        height: 100px;
    }

    .login a:link {
        text-decoration: none;
        font-weight: bold;
    }

}

/* Adaptation pour tablette */
@media screen and (max-width:991px) {}

/* #endregion */